.chat{
	float: left;
	position: relative;
	width: 403px;
}

.chat .show-message{
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: 30px;
}

.friend{	
	float: left;
	margin: 30px 0 0 15px;
	border-radius: 5px;
	background-color: #f5cd79;
	font-family: Roboto, serif;
}

.friend img{
	float: left;
	margin: 10px 0 0 7px;
	border-radius: 50%;
}

.friend .message{
	margin: 2px 0 0 55px;
	padding: 10px;
	width: 180px;
	position: relative;
}

.friend p {
	font-size: 14px;
	color : #FFFFFF;
}






